body {
    color: rgb(0, 0, 0);
    background-color: rgba(131, 214, 220, 0.22);
  }
  
  .jumbotron {
    background-image: url("https://hellocare.com.au/app/uploads/2021/06/Virus-molecules.jpg");
    background-size: 100% 100%;
    text-align: center;
  }

  .jumbotron h1 {
    color:rgb(255, 255, 255)
}

.jumbotron p {
    color:rgb(255, 255, 255)
}
  
  .article-title, .article-p {
    padding: 20px;
  }
  form {
    padding: 5px;
  }
  
  #filter-btn {
    width: 100%;
  }